.container {
  max-width: 900px;
  margin: 0 auto;
  border: thin solid grey;
}

.headicon {
  width: 150px;
}

.topheader {
  display: flex;
  background-color: #e6e6e6;
  font-family: "Courier New", Courier, monospace;
}

.topheader h1 {
  align-self: center;
  margin-left: 20px;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #444;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  width: 120px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
}

.navbar a:hover {
  background-color: #005f5f;
}

.mainContent,
.boldtext {
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.sidebyside {
  display: flex;
  flex-wrap: wrap;
}

.lcont {
  flex: 1 0 40%;
  padding-right: 5%;
}

.rcont {
  overflow: hidden;
}

.rcont img {
  width: 100%;
}

@media only screen and (max-width: 950px) {
  .sidebyside {
    flex-direction: column-reverse;
  }
}

.multiplesidebyside {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
}

.article {
  text-decoration: none;
  flex: 1 0 140px;
  border: thin solid grey;
  padding: 10px;
  background-color: white;
  margin: 10px;
  transition: transform 0.2s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.article:hover {
  transform: scale(1.1);
}

.article p {
  color: black;
  margin: 0px;
  font-weight: bold;
}

.article img {
  width: 100%;
  height: 100px;
  object-fit: cover;
}
